/* somoim(소모임) */
.somoim_div{
	background-color: #f1f1f1;
	border-radius: .5rem;
	margin : 20px 0 ;
	padding: 20px 0;
}

#Add_btn {
	position : relative;
	left : 45%;
	width : 200px;
	height :55px; 
	font-size: 2rem;
	
}
.img-fluid {
	height : 200px;
}
.somoim-input{
	margin-top : 20px;
}
.mb-5 {
	margin-bottom: 20px;
}
.somoim_content{
	padding-left : 30px;
}
.somoim_join_btn{
	width : 80%
}